@{
    Layout = "_Root.Head";
}

@await Component.InvokeAsync("Widget", new { widgetZone = "body_start_html_tag_after" })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")

@await Component.InvokeAsync("AdminHeaderLinks")
@await Html.PartialAsync("_Header")
<script type="text/javascript">
    AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
</script>

@*<div id="loader-wrapper">
    <div id="loader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
</div>*@
<!-- Back to top -->
<div class="back-to-top"><span class="icon-keyboard_arrow_up"></span></div>
<!-- /Back to top -->



@await Component.InvokeAsync("Widget", new { widgetZone = "content_before" })

@if (IsSectionDefined("Breadcrumb"))
{
    @RenderSection("Breadcrumb")
}

<div id="pageContent">
    @RenderBody()
</div>

@await Component.InvokeAsync("Widget", new { widgetZone = "content_after" })

@await Component.InvokeAsync("Footer")

@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = "body_end_html_tag_before" })