@model Nop.Plugin.Widgets.SaleOfTheDay.Models.TheSaleOfTheDayModel
<div class="title-with-button">
    <div class="carousel-products__button pull-right"> <span class="btn-prev"></span> <span class="btn-next"></span> </div>
    <h2 class="text-left text-uppercase title-default pull-left">@T("Bestsellers")</h2>
</div>

<div class="product-listing row">

    @foreach (var product in Model.AppliedProducts)
    {
        <div class="col-xs-6 col-sm-4 col-md-6 col-lg-4 col-xl-one-fifth">
            <!-- product -->
            @await Html.PartialAsync("_ProductBox", product)
            <!-- /product -->
        </div>
    }
</div>